body {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.doc-header,
.doc-content,
.doc-footer {
    display: grid;
    grid-template-columns: var(--grid-container); // Täcker upp mittendelen i skärmen

    &__inner {
        grid-column: inner;
    }
}


.doc-content {
    min-height: 100vh;
    padding-top: var(--menu-height);

    &__inner {
    display: grid;
    gap: 2rem;
    grid-template-columns: minmax(200px, 300px) 1fr minmax(200px, 300px);
    }
}