.main {
    min-height: 100vh;
    background: url('Bilder/background-red.jpg') no-repeat;
    background-size: cover;
    background-position: center center; 
    display: flex;
    justify-content: center;
    align-items: center;

    &-inner-cookie {
        text-align: center;
        padding-top: 18rem;
        padding-left: 5rem;
        padding-bottom: 3rem;
    }

    &-inner-button {
        text-align: center;
        font-size: 70px;
        padding-bottom: 10rem;

        &-button {
            text-decoration: none;
            color: #FFF8CA;
            background-color: transparent;
            padding: 1rem 1rem 0.1rem 1rem;
            border: 3px solid #F9EC92;
            padding-left: 60px;
            padding-right: 60px;
            font-weight: 500;

            &:hover {
                background-color: #F9EC92;
                color: #4F0404;
            }
        }
    }
}

// togglad, cracked cookie
.main-inner-cookie img.toggled {
    padding-right: 3rem;
    padding-top: 4.4rem;
}

#show-quotes {
    color: black;
    font-size: 50px;
    padding: 15px;
    display: none;
    font-weight: 600;
    background-color: rgb(255, 255, 255, 0.95);
    text-align: center;
    margin-right: 5rem;
}
