.doc-content__sidebar {
    height: calc(100vh - var(--menu-height));
    //margin-top: var(--menu-height); // få ned elementet bakom meny
    display: grid; //kan vara flex
    grid-template-rows: 1fr 60px;
    //flex-direction: column;
    position: sticky; 
    padding: 0 2rem 0 0;
    top: var(--menu-height);
    //justify-content: space-between;
}   


.toc {
    @extend .doc-content__sidebar; // Hämtar alla egenskaper från ovanfrån
    //grid-template-rows: minmax(200px, auto) minmax(200px, auto);
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 2rem;
}

.sidebar-settings {
    border-top: 1px solid var(--color-dark-150);
    height: 60px;
    position: sticky;
    bottom: 0;
    align-self: end;
}